.item
  display: inline-block
  width: 300px
  text-align: center
  margin: 5px
  a
    color: #333333
    font-size: 20px
    font-weight: 700
    text-decoration: none
  a:hover
    color: #336666

.pagination
  background: white
  cursor: default
  a, span, em
    padding: 0.2em 0.5em
    display: block
    float: left
    margin-right: 1px
  .disabled
    color: #999999
    border: 1px solid #dddddd
  .current
    font-style: normal
    font-weight: bold
    background: #336666
    color: white
    border: 1px solid #336666
  a
    text-decoration: none
    color: #336666
    border: 1px solid #336666
    &:hover, &:focus
      color: #000033
      border-color: #000033
  .page_info
    background: #336666
    color: white
    padding: 0.4em 0.6em
    width: 22em
    margin-bottom: 0.3em
    text-align: center
    b
      color: #000033
      background: #336666 + 60
      padding: 0.1em 0.25em